
.Breadcum {
  width: 100%;
  height: 660px;

  display: flex;            
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
  padding: 14px 40px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  gap: 20px;
}



.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #222;
  position: relative;
  transition: color 0.3s ease;
}


.hero {
  width: 1400px;
  height: 660px;

  background-size: cover;
  background-position: center;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;        

  position: relative;
  color: #fff;
  border-radius: 30px 30px 0 0;

  
}



.text {
  position: absolute;          
  top: 125px;                  
  left: 50%;                   
  transform: translateX(-50%); 

  width: 299.55px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
}



.top-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.hading {
  position: absolute;
  top: 171px;                 
  left: 50%;                  
  transform: translateX(-50%);

  width: 779.16px;
  height: 52px;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
}

.hading h1 {
  font-size: 52px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
  margin: 0;
}


.arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;                
  display: flex;
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.arrow {
  width: 60px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .section {
    height: auto;
    padding: 16px;
  }


  .hero {
    height: 520px;
    border-radius: 20px 20px 0 0;
  }

 

}
@media (max-width: 480px) {
  .hero {
    height: 50vh;
  }

  .hading h1 {
    font-size: 20px;
  }
}

